<nav id="sidebar" class="d-block d-lg-none">
	<button type="button" class="close p-4 float-right" aria-label="Close" id="dismiss">
		<span aria-hidden="true"><img src="/img/x-icon.svg"></span>
	</button>
	<div class="clearfix" id="slideMenuTop"></div>
	<div class="clearfix container mt-3" id="slideMenuBottom"></div>
</nav>
<nav id="sidebar" class="d-block d-lg-none">
	<button type="button" class="close p-4 float-right" aria-label="Close" id="dismiss">
		<span aria-hidden="true"><img src="/img/x-icon.svg"></span>
	</button>
	<div class="clearfix" id="slideMenuTop"></div>
	<div class="clearfix container mt-3" id="slideMenuBottom"></div>
</nav>



<div class="container-fluid bg-white pb-2" id="mainNavContainer">
	<div class="container">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-light pl-0 py-0 mt-0 pr-0 pr-lg-3" id="mainNavContainerContainer">
				<a class="navbar-brand p-0 text-right" href="/"><img src="/img/brand/logo_artwork.svg" class="mt-4" alt="HVAC Answers Logo"><span id="presentedBy" class="d-block mt-1">Powered by Johnstone Supply</span></a>
				<button class="navbar-toggler" type="button" aria-label="Toggle navigation" id="sidebarToggler"><span class="navbar-toggler-icon"></span></button>
					<div class="ml-auto mt-n3" id="mainNav">
						<a class="btn btn-lg btn-white border-success text-success btn-rounded font-weight-bold mt-0 mt-lg-4 mr-0 mr-lg-4" href="/find-a-pro.html" id="headerFindPro">FIND A PRO <img src="/img/hvac-unit.svg" alt="Search Glass" class="d-none d-lg-inline ml-2"><img src="/img/hvac-unit.svg" alt="Search Glass White" class="d-inline d-lg-none ml-2"></a>
						<a class="" href="/rebate-center.html" id="headerRebateCenter">REBATE CENTER <img src="/img/icons/`search-list.svg" alt="Search Glass" class="d-none d-lg-inline ml-2"><img src="/img/search-list.svg" alt="Search Glass White" class="d-inline d-lg-none ml-2"></a>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>